body{
    margin: 0;
    background-image: url("../images/deep_space.jpg");
    background-size:auto;
    background-attachment: fixed;
    font-family: sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    background-color: rgba(127, 255, 212, 0.422);
    height: 100px;
    font-family: sans-serif;
}
nav a{
    position:absolute;
    text-decoration: none;
    color: beige;
    transition-duration: 1s;
    margin-top: -8px;
    margin-left: -50px;
}
nav a:hover{
    color: rgb(193, 130, 252);
    transform: scale(1.2);
}
#company-logo {
    width: 200px;
    text-align: center;
}
#company-logo img{
width: 100px;
}
#page-header{
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 2px solid rgba(255, 255, 255, 0.26);
    padding: 50px;
    text-align: center;
}
.index-page-header h1{
    letter-spacing: 3px;
    
}
.index-page-header hr{
    max-width: 600px;
    border-color: black;
    height: 10px;
    background-color: black;
}
section{
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 2px solid rgba(255, 255, 255, 0.26);
    padding: 50px;
}
#index-page-section h1{
    text-align: center;
}
#isrtext-logo{
    max-width: 500px;
}
#user-registration-form, #login-form{
    text-align: center;
}

.form-group{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.form-group label{
    width: 200px;
    text-align: right;
}

.form-group input{
    width: 200px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.459);
    border:0;
    border-radius: 5px; 
    transition-duration: 500ms;
}

.form-group input:hover{
    background-color: rgba(255, 255, 255, 0.676);

}

form button{
    padding: 5px 20px;
    border-radius: 3px;
    border: 0px ;
    transition-duration: 500ms;
}
form button:hover{
    background-color: rgba(231, 231, 231, 0.808);
}

#search-result-ul, #makes-page-div ul, #maker-page-div ul, #wishlist-page-section ul{
    list-style-type: none;
    padding:0;
}
#search-result-ul img{
    width: 300px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#makes-page-div img{
    width: 300px;
    transition-duration: 500ms;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#makes-page-div img:hover{
    filter: brightness(130%);
}
#makes-page-div hr{
    border-color: rgba(255, 255, 255, 0.224);
}

#makes-page-div a{
    color: black;
    text-decoration: none;
}
#makes-page-div{
    text-align: center;
}
#makes-page-div li, #maker-page-div li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#maker-page-div{
    text-align: center;
}
#maker-page-div img{
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#makes-logos-div ul{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}
.make-info{
    text-align: justify;
}
#maker-page-div li{
    margin-bottom: 20px;
}
#maker-page-div li img{
    width: 250px;
}
#wishlist-page-section form{
    display: inline;
}
#wishlist-page-section li{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#wishlist-page-section span{
    margin: 0 20px;
}
#wishlist-page-section button{
    background-color: red;
    border-radius: 5px;
    border: 0px;
    transition-duration: 500ms;
}
#wishlist-page-section button:hover{
    background-color: rgb(174, 0, 0);
}
#wishlist-page-section img{
    width:100px;
}
#user-page-section{
    text-align: center;
}
#user-page-section hr{
    border-color: rgba(255, 255, 255, 0.274);
    width:200px;
}
#user-page-section div{
    display: inline-block;
    background-color: rgba(250, 235, 215, 0.249);
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.646);
    margin-right: 10px;
    margin-bottom: 10px;
    transition-duration: 500ms;
    padding:20px;
}
#user-page-section div:hover{
    background-color: rgba(250, 235, 215, 0.434);
}

#user-page-section div a{
    color: black;
}
#user-page-link{
    color: white;
    text-decoration: none;
}
#user-page-add{
    background-color: white;
    border-radius: 5px;
    padding: 8px 20px;
    text-decoration: none;
    color:black;
    transition-duration: 500ms;
}
#user-page-add:hover{
    background-color: rgba(255, 255, 255, 0.751);
}
#ships-page-section, #results-page-section{
    text-align: center;
}

#results-page-section ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#ships-page-section input, #results-page-section input{
    padding: 5px;
    width:200px;
    background-color: rgba(255, 255, 255, 0.459);
    border:0;
    border-radius: 5px;
    transition-duration: 500ms;
}
#ships-page-section input:hover, #results-page-section input:hover{
    background-color: rgba(255, 255, 255, 0.676);
}

#make-models-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

#make-models-ul img{
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#ext-colors-ul, #int-colors-ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:10px
}