body{
    margin: 0;
    background-image: url("../images/deep_space.jpg");
    background-size:auto;
    background-attachment: fixed;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    background-color: rgba(127, 255, 212, 0.422);
    height: 100px;
    font-family: sans-serif;
}
nav a{
    position:absolute;
    text-decoration: none;
    color: beige;
    transition-duration: 1s;
}
nav a:hover{
    color: rgb(193, 130, 252);
    transform: scale(1.2);
}
#company-logo {
    width: 200px;
    text-align: center;
}
#company-logo img{
width: 100px;
}
#page-header{
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 2px solid rgba(255, 255, 255, 0.26);
    padding: 50px;
    text-align: center;
}
section{
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 2px solid rgba(255, 255, 255, 0.26);
    padding: 50px;
}

#user-registration-form, #login-form{
    text-align: center;
}

.form-group{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group label{
    width: 200px;
    text-align: right;
}

.form-group input{
    width: 200px;
    padding: 5px;
}

form button{
    padding: 5px 20px;
    border-radius: 3px;
    border: 0px ;

}

#search-result-ul, #makes-page-div ul, #maker-page-div ul{
    list-style-type: none;
    padding:0;
}
#search-result-ul img{
    width: 300px;
}

#makes-page-div img{
    width: 300px;
}
#makes-page-div{
    text-align: center;
}
#makes-page-div li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#maker-page-div{
    text-align: center;
}
#maker-page-div img{
    width: 400px;
}
.make-info{
    text-align: justify;
}
